[user]
	email = robin@rgson.se
	name = Robin Gustafsson
[push]
	default = current
[alias]
	st = status
	co = checkout
	cm = commit
	br = branch
	cl = clean -Xdf
	undo-commit = reset --soft HEAD^
	addnw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
	addnp = -c core.fileMode=false add
	ca = commit --amend --no-edit
	rb = rebase
	join = "!f(){ git merge \"$@\" && git branch -d \"$@\"; }; f"
[core]
	editor = vim
	hooksPath = ~/.config/git/hooks
[pull]
	ff = only
[rebase]
	autoSquash = true
	autostash = true
[pager]
	branch = false
[fetch]
	prune = true
[url "git@github.com:"]
	insteadOf = github:
[url "git@gitlab.com:"]
	insteadOf = gitlab:
[url "git@salsa.debian.org:"]
	insteadOf = salsa:
[url "git@salsa.debian.org:debian/"]
	insteadOf = debian:
